*.csv
.idea/*
network/*.pt
network/__pycache__/*
preprocessing/__pycache__/*
data/features_window_time_600.csv
data/features_window_10.csv
preprocessed/DCAIS_[30_ 1001_ 1002]_None-mmsi_region_[46_ 51_ -130_ -122.5]_01-04_to_30-06_trips.csv
results/
images/
