*.pt
.idea/*
data/preprocessed/
0-fishing_10_10.csv
1-fishing_10_10.csv
results/time_final/*
2-fishing_10_600.csv
network/__pycache__/*
0-fishing_5_10_10.csv
1-fishing_5_10_10.csv
2-fishing_5_10_600.csv
preprocessing/__pycache__/*
results/observations_final/*
data/features_window_10.csv
data/features_window_time_600.csv
data/mpa-pipeline/.ipynb_checkpoints/*
data/features_win_5_rose_16_time_win_600.csv
